In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('college_student_placement_dataset.csv')
df.head(5)

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,CLG0030,107,6.61,6.28,8,No,8,8,4,No
1,CLG0061,97,5.52,5.37,8,No,7,8,0,No
2,CLG0036,109,5.36,5.83,9,No,3,1,1,No
3,CLG0055,122,5.47,5.75,6,Yes,1,6,1,No
4,CLG0004,96,7.91,7.69,7,No,8,10,2,No

In [13]:
df['CGPA'].mean()

np.float64(7.532379)

In [14]:
df['CGPA'] = df['CGPA'].mask(df['CGPA']>10, np.nan)
modified_mean = df['CGPA'].mean
df.fillna({'CGPA':modified_mean}, inplace= True)

In [17]:
df['CGPA'].head(5)
df['CGPA'] = pd.to_numeric(df['CGPA'], errors='coerce')

In [18]:
df['CGPA'].mean()

np.float64(7.465178956004513)

In [20]:
df['Placement_Encoded'] = df['Placement'].map({'No': 0, 'Yes': 1})

In [22]:
df['College_ID']= df['College_ID'].map(df.groupby('College_ID')['Placement_Encoded'].mean())

In [24]:
df.head(10)

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement,Placement_Encoded
0,0.190476,107,6.61,6.28,8,No,8,8,4,No,0
1,0.179245,97,5.52,5.37,8,No,7,8,0,No,0
2,0.182796,109,5.36,5.83,9,No,3,1,1,No,0
3,0.127907,122,5.47,5.75,6,Yes,1,6,1,No,0
4,0.142857,96,7.91,7.69,7,No,8,10,2,No,0
5,0.147368,96,5.26,5.32,7,No,5,8,0,No,0
6,0.098039,123,6.68,6.58,5,No,7,8,2,Yes,1
7,0.232323,111,8.77,8.76,7,No,3,1,2,Yes,1
8,0.168317,92,6.47,6.33,9,No,7,8,5,No,0
9,0.120879,108,8.82,8.60,4,No,5,9,1,No,0