In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict

In [126]:
df = pd.read_csv('college_student_placement_dataset.csv')

In [127]:
print(df.info())
print(df.head(5))
print((df['Placement'].value_counts(normalize=True) * 100))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   College_ID              10000 non-null  object
 1   IQ                      10000 non-null  int64
 2   Prev_Sem_Result         10000 non-null  float64
 3   CGPA                    10000 non-null  float64
 4   Academic_Performance    10000 non-null  int64
 5   Internship_Experience   10000 non-null  object
 6   Extra_Curricular_Score  10000 non-null  int64
 7   Communication_Skills    10000 non-null  int64
 8   Projects_Completed      10000 non-null  int64
 9   Placement               10000 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 781.4+ KB
None
  College_ID   IQ  Prev_Sem_Result  CGPA  Academic_Performance  \
0    CLG0030  107             6.61  6.28                     8
1    CLG0061   97             5.52  5.37                     8
2    CLG0036  109             5.36  5.83                     9
3    CLG0055  122             5.47  5.75                     6
4    CLG0004   96             7.91  7.69                     7

  Internship_Experience  Extra_Curricular_Score  Communication_Skills  \
0                    No                       8                     8
1                    No                       7                     8
2                    No                       3                     1
3                   Yes                       1                     6
4                    No                       8                    10

   Projects_Completed Placement
0                   4        No
1                   0        No
2                   1        No
3                   1        No
4                   2        No
Placement
No     83.41
Yes    16.59
Name: proportion, dtype: float64

In [128]:
df.nunique()

College_ID                100
IQ                        104
Prev_Sem_Result           501
CGPA                      590
Academic_Performance       10
Internship_Experience       2
Extra_Curricular_Score     11
Communication_Skills       10
Projects_Completed          6
Placement                   2
dtype: int64

In [132]:
def preprocessed (df):
    #we need to create functions for label encoding internship experience and 
    # removing cgpa values above 10 which could be spelling mistakes
    #also use target encoding for the college ID class 
    df['CGPA'] = df.loc[df['CGPA'] > 10, 'CGPA'] = np.nan
    modified_mean = df['CGPA'].mean
    df.fillna({'CGPA':modified_mean}, inplace= True)

In [133]:
shuffle_df = df.sample(frac=1, random_state=42)
train_ratio = 0.80
split_index = int(train_ratio*len(shuffle_df))
train_df = shuffle_df[:split_index].reset_index(drop=True)
test_df = shuffle_df[split_index:].reset_index(drop=True)

In [134]:
train_df_preprocessed = preprocessed(train_df)

In [136]:
if 10.3 in train_df_preprocessed['CGPA'] :
    print("value found")
else:
    print("hi")

TypeError: 'NoneType' object is not subscriptable